<div>
  <h1 class="page-title">Products</h1>
</div>

<ul class="products container" infinite-scroll="loadNewProducts()">
  <li ng-repeat="product in products">
    <div>
      <span class="title">{{product.title}}</span>
    </div>
    <div>
      <span class="author">By {{product.author}}</span>
    </div>

    <img ng-src="{{product.thumbnail_url}}"/>

    <div>
      <span class="blurb">{{product.blurb | words:32}}</span>
      <a ng-href="{{product.details_url}}">Read more</a>
    </div>
  </li>
</ul>
