@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

.page-title {
  font-size: 4em;
}

.products {
  .title {
    font-size: 2.75em;
  }

  .author {
    font-size: 1.5em;
    padding-left: 1em;
  }

  .blurb {
    font-size: 1em;
  }

  li {
    background-color: #faebd7;
    border: .25em solid #000;
    border-radius: .5em;
    float: left;
    height: 36em;
    margin-bottom: 4em;
    margin-left: 4em;
    padding: 2em;
    width: 17em;
  }
}
